div#outer-container {
  text-align:center;
  width:auto;
}

div#remaining-count {
  /* margin-top:12px; */
  /* margin-top:5%; */
}

.grid {
  width: 100%;
  /* float: left; */
}

.grid ul {
  list-style-type: none;
}

.grid ul li ul li.empty {
  background-color: #000;
}
.grid > li:first-child { visibility: hidden; }

.grid ul li {
  display: inline-block;
}

.grid ul li {
  display: inline-block;
}

.grid ul li ul li {
  float: left; 
  background-color: #fff; 
  display: block;
  border: solid 1px #000;
  padding: 9px;
  min-width: 40px;
  height: 40px;
  /* padding: 5px;
  min-width: 26px;
  height: 26px; */
  /* font-size: 75%; */
}

#remaining-moves {
  visibility: hidden;
  height:1px !important;
  width: 1px !important;
}

#game-form select, 
#game-form button {
  float:left;
  min-width: 68px;
  /* min-width: 35%; */
}
#game-form button {
  /* margin:8px; */
  margin:3%;
}
#game-form select {
  /* margin:8px 8px 8px 64px; */
  /* width: 80px !important; */
  
  margin:3% 2% 2% 5%;
  max-width: 8% !important;

  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

#controls {
  /* width:255px; */
  text-align:center;
  width:auto;
  width:60%;
  /* margin:auto; */
  float: right;
}

#controls * {
  text-align:center;
  width:auto;
  /* width:50%; */
}
