.menu {
  margin-top: -6px;
  padding: 0;
  list-style: none;
  /* color: #fff; */
}
.parent span {
  letter-spacing: 3px;
}
.menu li {
  float: left;
  display: block;
  /* background: #fff; */
  position: relative;
  z-index: 500;
  margin: 0 1px;
  /* background-color: blue; */
}
.menu li a {
  display: block;
  line-height: 18px;
  color: #fff;
  text-align: left;
}
.menu ul {
  position: absolute;
  left: -14px;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
  text-indent: 10px;
}
.menu ul.display {
  display: block;
}
.menu ul li {
  width: 150px;
  float: left;
}
.menu ul a {
  display: block;
  padding: 8px 5px;
}
.menu ul a:hover {
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 415px) {
    .menu li:hover ul {
        display: block;
    }
}



div#outer-container {
  text-align:center;
  width:auto;
}

div#remaining-count {
  /* margin-top:12px; */
  /* margin-top:5%; */
}

.grid {
  width: 100%;
  /* float: left; */
}

.grid ul {
  list-style-type: none;
}

.grid ul li ul li.empty {
  background-color: #000;
}
.grid > li:first-child { visibility: hidden; }

.grid ul li {
  display: inline-block;
}

.grid ul li {
  display: inline-block;
}

.grid ul li ul li {
  float: left; 
  background-color: #fff; 
  display: block;
  border: solid 1px #000;
  padding: 9px;
  min-width: 40px;
  height: 40px;
  /* padding: 5px;
  min-width: 26px;
  height: 26px; */
  /* font-size: 75%; */
}

#remaining-moves {
  visibility: hidden;
  height:1px !important;
  width: 1px !important;
}

#game-form ul.menu, 
#game-form select, 
#game-form button {
  float:left;
  min-width: 68px;
  /* min-width: 35%; */
}
#game-form button {
  /* margin:8px; */
  margin:3%;
}

#game-form ul.menu {
  margin:8px 8px 8px 44px;
  /* width: 80px !important; */

  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

#game-form ul.menu li.parent a,
#game-form ul.menu li.parent a:hover {
  text-decoration: none !important;
}

#game-form ul.menu li.menu-option {
  background-color: #5a6268 !important;
  border-color: #6c757d !important;
}


#game-form ul.menu,
#game-form ul.menu li,
#game-form select {
  /* margin:8px 8px 8px 64px; */
  /* width: 80px !important; */
  
  margin:3% 2% 2% 5%;
  max-width: 8% !important;

}

#game-form select {
  margin:8px 8px 8px 44px;
  /* width: 80px !important; */

  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

#controls {
  /* width:255px; */
  text-align:center;
  width:auto;
  width:60%;
  /* margin:auto; */
  float: right;
}

#controls * {
  text-align:center;
  width:auto;
  /* width:50%; */
}
