
@main("Play the N-Puzzle") {
  <div id='outer-container'>
    <div id='remaining-count'></div>
    <br class='clearfix' />
    <div id='outer-board'>
      <div id='board' class='grid'></div>
    </div> 
    <!-- <br class='clearfix' /> -->
    <form id='game-form' style="padding-top:1.5em;">
      <div id='controls'>
        
        <ul id="board-size" class="menu form-control btn-secondary">
          <li class="parent">
            <a href="#"><span>New</span></a>
            <ul>
              <li value='3' class="menu-option"><a value='3' href="#">3x3</a></li>
              <li value='4' class="menu-option"><a value='4' href="#">4x4</a></li>
            </ul>
          </li>
        </ul>
        <button id="step-button" type="button" class="btn btn-secondary">Step</button>
      </div> 
    </form>
    
    <div id='remaining-moves' ></div>

  </div>

}
