
@main("Play the N-Puzzle") {
  <div id='outer-container'>
    <form id='game-form' style="padding-top:1.5em;">
      <div id='controls'>
        <select id='board-size' class='form-control btn-secondary'>
          <option value=''>New</option>
          <option value='3'>3x3</option>
          <option value='4'>4x4</option>
        </select>
        <button id="step-button" type="button" class="btn btn-secondary">Step</button>
      </div> 
    </form>
    <br class='clearfix' />
    <br class='clearfix' />
    <div id='remaining-count'></div>
    <br /> 
    <div id='board' class='grid'></div>
    <div id='remaining-moves' ></div>

  </div>

}
